In [1]:
import pandas as pd

In [2]:
#loading dataset
data=pd.read_csv(r"C:\Users\clickmoney\Desktop\dataset\raw_data.csv")
data

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [4]:
# Check for standard missing values
# Check for non-standard missing values in columns containing strings
non_string_columns = ['Employee Full Name', 'DOB', 'email', 'gender', 'Company', 'Country']

for column in non_string_columns:
    if data[column].dtype == 'object':
        missing_non_standard = data[column].apply(lambda x: x == '$' or x == '').sum()
        print(f"Column '{column}' has {missing_non_standard} non-standard missing values.")

Column 'Employee Full Name' has 0 non-standard missing values.
Column 'DOB' has 0 non-standard missing values.
Column 'email' has 0 non-standard missing values.
Column 'gender' has 0 non-standard missing values.
Column 'Company' has 0 non-standard missing values.
Column 'Country' has 0 non-standard missing values.

In [5]:
data

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,NaN,234.0
3,204.0,Graeme Croisier,9/29/2018,NaN,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,NaN,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,NaN,Female,Intel,India,NaN,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,NaN,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,NaN,NaN,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,NaN
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [7]:
# Fill NaN values with a constant (e.g., 0)
data['Employee Full Name'].fillna(0, inplace=True)
data['DOB'].fillna(0, inplace=True)
data['email'].fillna(0, inplace=True)
data['gender'].fillna(0, inplace=True)
data['Company'].fillna(0, inplace=True)
data['Country'].fillna(0, inplace=True)
data['Income.1'].fillna(0, inplace=True)
data['Income.2'].fillna(0, inplace=True)
data

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,$46476.6380809961,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,$54174.6879482406,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,0,234.0
3,204.0,Graeme Croisier,9/29/2018,0,Male,Accenture,Canada,$46784.6308786279,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,0,$57486.4955595568,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,$,952.0
6,207.0,Modesta Batterson,3/28/2018,0,Female,Intel,India,0,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,0,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,$28602.4353770562,0.0
9,NaN,0,0,0,0,0,0,0,0.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,$47119.1747795038,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,0,0,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,$55804.9256874294,0.0
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,$44191.4731284524,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,$,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,$44481.7651905881,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,$55719.9621570482,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,$33767.5099948119,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,$7101.35196996979,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,$43363.0787072359,1668.0

In [8]:
#Handling Income Columns
import numpy as np
data['Income.1'] = data['Income.1'].astype(str).str.replace('$', '').replace('', np.nan).astype(float)
data['Income.2'] = data['Income.2'].astype(str).str.replace('$', '').replace('', np.nan).astype(float)
data

C:\Users\CLICKM~1\AppData\Local\Temp/ipykernel_13448/4271273164.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Income.1'] = data['Income.1'].astype(str).str.replace('$', '').replace('', np.nan).astype(float)
C:\Users\CLICKM~1\AppData\Local\Temp/ipykernel_13448/4271273164.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  data['Income.2'] = data['Income.2'].astype(str).str.replace('$', '').replace('', np.nan).astype(float)

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,0.000000,234.0
3,204.0,Graeme Croisier,9/29/2018,0,Male,Accenture,Canada,46784.630879,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,0,57486.495560,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,NaN,952.0
6,207.0,Modesta Batterson,3/28/2018,0,Female,Intel,India,0.000000,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,0.000000,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,28602.435377,0.0
9,NaN,0,0,0,0,0,0,0.000000,0.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,0,0.000000,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,0.0
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,NaN,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.0

In [9]:
#Removing Empty Rows
data.dropna(how='all', inplace=True)  # Remove entirely empty rows
data

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,0.000000,234.0
3,204.0,Graeme Croisier,9/29/2018,0,Male,Accenture,Canada,46784.630879,657.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,0,57486.495560,1947.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,NaN,952.0
6,207.0,Modesta Batterson,3/28/2018,0,Female,Intel,India,0.000000,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,0.000000,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,28602.435377,0.0
9,NaN,0,0,0,0,0,0,0.000000,0.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,0,0.000000,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,0.0
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,NaN,568.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.0

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   id                  19 non-null     float64
 1   Employee Full Name  20 non-null     object
 2   DOB                 20 non-null     object
 3   email               20 non-null     object
 4   gender              20 non-null     object
 5   Company             20 non-null     object
 6   Country             20 non-null     object
 7   Income.1            18 non-null     float64
 8   Income.2            20 non-null     float64
dtypes: float64(3), object(6)
memory usage: 1.6+ KB

In [11]:
data['Income.1']=data['Income.1'].astype(float)

In [12]:
# Filling missing values in "Income.1" and "Income.2" columns with their respective means
mean_income_1 = data['Income.1'].mean()
mean_income_2 = data['Income.2'].mean()

data['Income.1'].fillna(mean_income_1, inplace=True)
data['Income.2'].fillna(mean_income_2, inplace=True)

In [13]:
# Create a new column "Total Income" by adding "Income.1" and "Income.2" and rounding up
data['Total Income'] = np.ceil(data['Income.1'] + data['Income.2'])

# Display the updated DataFrame
data

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.0,47006.0
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.0,54895.0
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,0.000000,234.0,234.0
3,204.0,Graeme Croisier,9/29/2018,0,Male,Accenture,Canada,46784.630879,657.0,47442.0
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,0,57486.495560,1947.0,59434.0
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,31393.007192,952.0,32346.0
6,207.0,Modesta Batterson,3/28/2018,0,Female,Intel,India,0.000000,32.0,32.0
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,0.000000,1901.0,1901.0
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,28602.435377,0.0,28603.0
9,NaN,0,0,0,0,0,0,0.000000,0.0,0.0
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.0,48040.0
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,0,0.000000,1286.0,1286.0
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,0.0,55805.0
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.0,44238.0
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,31393.007192,568.0,31962.0
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.0,46035.0
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.0,56733.0
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.0,35688.0
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.0,9054.0
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.0,45032.0

In [14]:
# Split "Employee Full Name" into "Employee Surname" and "Employee Last Name"
data[['Employee Surname', 'Employee Last Name']] = data['Employee Full Name'].str.split(' ', 1, expand=True)
data

,id,Employee Full Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income,Employee Surname,Employee Last Name
0,201.0,Salim Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.0,47006.0,Salim,Pound
1,202.0,Madelene Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.0,54895.0,Madelene,Lutas
2,203.0,Dolli Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,0.000000,234.0,234.0,Dolli,Swanbourne
3,204.0,Graeme Croisier,9/29/2018,0,Male,Accenture,Canada,46784.630879,657.0,47442.0,Graeme,Croisier
4,205.0,Jillana Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,0,57486.495560,1947.0,59434.0,Jillana,Physic
5,206.0,Anetta Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,31393.007192,952.0,32346.0,Anetta,Yokelman
6,207.0,Modesta Batterson,3/28/2018,0,Female,Intel,India,0.000000,32.0,32.0,Modesta,Batterson
7,208.0,Melina Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,0.000000,1901.0,1901.0,Melina,Boon
8,209.0,Nomi Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,28602.435377,0.0,28603.0,Nomi,Warn
9,NaN,0,0,0,0,0,0,0.000000,0.0,0.0,NaN,NaN
10,211.0,Charleen Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.0,48040.0,Charleen,Auden
11,212.0,Dame Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,0,0.000000,1286.0,1286.0,Dame,Povele
12,213.0,Jesse Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,0.0,55805.0,Jesse,Engelbrecht
13,214.0,Camey Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.0,44238.0,Camey,Barensen
14,215.0,Alexandro Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,31393.007192,568.0,31962.0,Alexandro,Sember
15,216.0,Myrtia Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.0,46035.0,Myrtia,Towne
16,217.0,Shay Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.0,56733.0,Shay,Cakebread
17,218.0,Nerta McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.0,35688.0,Nerta,McCutheon
18,219.0,Patin Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.0,9054.0,Patin,Mitchely
19,220.0,Malinda Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.0,45032.0,Malinda,Heistermann

In [15]:
# Delete the "Employee Full Name" column
data.drop(columns=['Employee Full Name'], inplace=True)

# Reorder columns to place "Employee Surname" and "Employee Last Name" after "id"
column_order = ['id', 'Employee Surname', 'Employee Last Name'] + [col for col in data.columns if col not in ['id', 'Employee Surname', 'Employee Last Name']]
data = data[column_order]

In [16]:
data

,id,Employee Surname,Employee Last Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
0,201.0,Salim,Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.0,47006.0
1,202.0,Madelene,Lutas,9/20/2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.0,54895.0
2,203.0,Dolli,Swanbourne,11/18/2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,0.000000,234.0,234.0
3,204.0,Graeme,Croisier,9/29/2018,0,Male,Accenture,Canada,46784.630879,657.0,47442.0
4,205.0,Jillana,Physic,4/19/2018,jphysic4@yellowbook.com,Female,Accenture,0,57486.495560,1947.0,59434.0
5,206.0,Anetta,Yokelman,4/26/2018,ayokelman5@berkeley.edu,Female,Intel,India,31393.007192,952.0,32346.0
6,207.0,Modesta,Batterson,3/28/2018,0,Female,Intel,India,0.000000,32.0,32.0
7,208.0,Melina,Boon,12/18/2017,mboon7@weibo.com,Male,Amazon,India,0.000000,1901.0,1901.0
8,209.0,Nomi,Warn,1/16/2018,nwarn8@sogou.com,Female,Amazon,UAS,28602.435377,0.0,28603.0
9,NaN,NaN,NaN,0,0,0,0,0,0.000000,0.0,0.0
10,211.0,Charleen,Auden,4/15/2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.0,48040.0
11,212.0,Dame,Povele,6/26/2018,dpoveleb@bloglovin.com,Male,Amazon,0,0.000000,1286.0,1286.0
12,213.0,Jesse,Engelbrecht,4/16/2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,0.0,55805.0
13,214.0,Camey,Barensen,8/21/2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.0,44238.0
14,215.0,Alexandro,Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,31393.007192,568.0,31962.0
15,216.0,Myrtia,Towne,2/14/2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.0,46035.0
16,217.0,Shay,Cakebread,9/27/2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.0,56733.0
17,218.0,Nerta,McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.0,35688.0
18,219.0,Patin,Mitchely,5/21/2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.0,9054.0
19,220.0,Malinda,Heistermann,10/30/2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.0,45032.0

In [17]:
#replacing values for clear format in dob
data['DOB']= data['DOB'].str.replace("/","-")
data

,id,Employee Surname,Employee Last Name,DOB,email,gender,Company,Country,Income.1,Income.2,Total Income
0,201.0,Salim,Pound,02-12-2018,spound0@spotify.com,Male,Google,India,46476.638081,529.0,47006.0
1,202.0,Madelene,Lutas,9-20-2018,mlutas1@si.edu,Female,Amazon,USA,54174.687948,720.0,54895.0
2,203.0,Dolli,Swanbourne,11-18-2018,dswanbourne2@istockphoto.com,Female,Intel,UAS,0.000000,234.0,234.0
3,204.0,Graeme,Croisier,9-29-2018,0,Male,Accenture,Canada,46784.630879,657.0,47442.0
4,205.0,Jillana,Physic,4-19-2018,jphysic4@yellowbook.com,Female,Accenture,0,57486.495560,1947.0,59434.0
5,206.0,Anetta,Yokelman,4-26-2018,ayokelman5@berkeley.edu,Female,Intel,India,31393.007192,952.0,32346.0
6,207.0,Modesta,Batterson,3-28-2018,0,Female,Intel,India,0.000000,32.0,32.0
7,208.0,Melina,Boon,12-18-2017,mboon7@weibo.com,Male,Amazon,India,0.000000,1901.0,1901.0
8,209.0,Nomi,Warn,1-16-2018,nwarn8@sogou.com,Female,Amazon,UAS,28602.435377,0.0,28603.0
9,NaN,NaN,NaN,NaN,0,0,0,0,0.000000,0.0,0.0
10,211.0,Charleen,Auden,4-15-2018,caudena@nba.com,Female,Accenture,USA,47119.174780,920.0,48040.0
11,212.0,Dame,Povele,6-26-2018,dpoveleb@bloglovin.com,Male,Amazon,0,0.000000,1286.0,1286.0
12,213.0,Jesse,Engelbrecht,4-16-2018,jengelbrechtc@google.ru,Female,Amazon,Canada,55804.925687,0.0,55805.0
13,214.0,Camey,Barensen,8-21-2018,cbarensend@globo.com,Male,Google,Canada,44191.473128,46.0,44238.0
14,215.0,Alexandro,Sember,04-08-2018,asembere@ibm.com,Male,Google,Russia,31393.007192,568.0,31962.0
15,216.0,Myrtia,Towne,2-14-2018,mtownef@ifeng.com,Female,Google,India,44481.765191,1553.0,46035.0
16,217.0,Shay,Cakebread,9-27-2018,scakebreadg@webs.com,Male,Google,India,55719.962157,1013.0,56733.0
17,218.0,Nerta,McCutheon,01-07-2018,nmccutheonh@t.co,Female,Amazon,India,33767.509995,1920.0,35688.0
18,219.0,Patin,Mitchely,5-21-2018,pmitchelyi@tinypic.com,Male,Amazon,Russia,7101.351970,1952.0,9054.0
19,220.0,Malinda,Heistermann,10-30-2018,mheistermannj@list-manage.com,Female,Intel,Russia,43363.078707,1668.0,45032.0

In [18]:
# Group the data by 'Country' and 'Company' and calculate the average total income
average_salary_by_country_company = data.groupby(['Country', 'Company'])['Total Income'].mean().reset_index()

# Print the result
print(average_salary_by_country_company)

   Country    Company  Total Income
0        0          0      0.000000
1        0  Accenture  59434.000000
2        0     Amazon   1286.000000
3   Canada  Accenture  47442.000000
4   Canada     Amazon  55805.000000
5   Canada     Google  44238.000000
6    India     Amazon  18794.500000
7    India     Google  49924.666667
8    India      Intel  16189.000000
9   Russia     Amazon   9054.000000
10  Russia     Google  31962.000000
11  Russia      Intel  45032.000000
12     UAS     Amazon  28603.000000
13     UAS      Intel    234.000000
14     USA  Accenture  48040.000000
15     USA     Amazon  54895.000000